---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Description</h1>
			<h4>
				Ce blog à pour but d'exposer du contenu concernant
				majoritairment l'informatique et plus particulièrement
				la sécurité.
			</h4>
			<h4>
				Vous pourrez trouver ici des articles à propos d'une
				curiosité qui m'a interpellé, mes projets ou encore des write
				up de ctf ou encore.
			</h4>
		</main>
		<Footer/>
	</body>
</html>
