---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<HeaderLink href="/">Accueil</HeaderLink>
		<HeaderLink href="/blog">Articles</HeaderLink>
		<HeaderLink href="https://www.root-me.org/3C4D" target="_blank">RootMe</HeaderLink>
		<HeaderLink href="https://www.newbiecontest.org/index.php?page=info_membre&id=88218" target="_blank">NewbieContest</HeaderLink>
		<HeaderLink href="https://github.com/3C4D" target="_blank">GitHub</HeaderLink>
		<HeaderLink href="https://linkedin.com/in/enzo-cadoni" target="_blank">LinkedIn</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 2em 0 2em;
	}
</style>
